.bingo {
    margin-top: 0.5rem;
}

.bingo-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.bingo-col1, .bingo-col2, .bingo-col3, .bingo-col4, .bingo-col5 {
    background: white;
    border: 2px solid black;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bingo__menu {
    background: white;
    display: flex;
    flex-direction: row;
    border-radius: 1rem 1rem 0 0;
    border: 2px ridge darkblue;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.bingo__menu div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
